*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Poppins", sans-serif;
    padding: 5px;
}
button{
    border: none;
    margin: 4px;
    padding: 4px;    
}
/*-----------------------------------Style of service-------------------------------------*/
.service .img-service{
    border-radius: 11px;
    width: 60px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.service .img-service img{
    width: 40px;
}
.img-service-0{
    background-color: rgb(2, 86, 182);
}
.img-service-1{
    background-color: rgb(8, 178, 93);
}
.img-service-2{
    background-color: rgb(251, 60, 60);
}
@media only screen and (max-width: 800px) {
    header{
        display: flex;
        justify-content: space-between;
        justify-content: baseline;
        align-items: center;
        padding-bottom: 10px;
    }
    .menu-btn{
        border: none;
        background-color: rgba(0, 0, 0, 0);
        background-image: url(./img/menu.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
    }
    /*--------------------- Banner Mobile ----------------------*/
    .home{
        margin: 10px 0px 0px 0px;
    }
    section p:nth-child(1){
        color: blue;
    }
    .banner{
        border-radius: 5px;
        width: 99%;
        margin: 0px 3px 7px 0px;
    }
}